
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/Images/IDF 23.jpg" height="200" width="200"/>
<h2>History of The IDF </h2>

<p>The IDF was established on May 31, 1948, just two weeks after Israel's declaration of independence. Since its creation, its guiding principles have been shaped by the country's need to defend itself from its numerically superior neighbours.</p>

<img src="~/Images/Six Day war.jpg" width="200" height="200" />
<h6>Six day war</h6>
<p>
    Six-Day War, also called June War or Third Arab-Israeli War or Naksah, brief war that took place June 5–10, 1967, and was the third of the Arab-Israeli wars. Israel’s decisive victory included the capture of the Sinai Peninsula, Gaza Strip, West Bank, Old City of Jerusalem, and Golan Heights; the status of these territories subsequently became a major point of contention in the Arab-Israeli conflict.

    In response to the apparent mobilization of its Arab neighbours, early on the morning of June 5, Israel staged a sudden preemptive air assault that destroyed more than 90 percent Egypt’s air force on the tarmac. A similar air assault incapacitated the Syrian air force. Without cover from the air, the Egyptian army was left vulnerable to attack. Within three days the Israelis had achieved an overwhelming victory on the ground, capturing the Gaza Strip and all of the Sinai Peninsula up to the east bank of the Suez Canal.
</p>
<p>The UN Security Council called for a cease-fire on June 7 that was immediately accepted by Israel and Jordan. Egypt accepted the following day. Syria held out, however, and continued to shell villages in northern Israel. On June 9 Israel launched an assault on the fortified Golan Heights, capturing it from Syrian forces after a day of heavy fighting. Syria accepted the cease-fire on June 10.</p>
<img src="~/Images/Isaerl 1.jpg" width="200" height="200"/>
<h6>Yom Kippur War</h6>
<p>Yom Kippur War, also called the October War, the Ramadan War, the Arab-Israeli war of October 1973, or the Fourth Arab-Israeli War, fourth of the Arab-Israeli wars, which was initiated by Egypt and Syria on October 6, 1973, on the Jewish holy day of Yom Kippur. It also occurred during Ramadan, the sacred month of fasting in Islam, and it lasted until October 26, 1973. The war  The war, which eventually drew both the United States and the Soviet Union into indirect confrontation in defense of their respective allies, was launched with the diplomatic aim of persuading a chastened—if still undefeated—Israel to negotiate on terms more favourable to the Arab countries.</p>
<p>In an effort to maintain the cease-fire between Israel and Egypt, a disengagement agreement signed on January 18, 1974, provided for Israel to withdraw its forces into the Sinai west of the Mitla and Gidi passes and for Egypt to reduce the size of its forces on the east bank of the canal. A United Nations (UN) peacekeeping force established a buffer zone between the two armies. The Israel-Egypt agreement was supplemented by another, signed on September 4, 1975, that included an additional withdrawal of forces and the expansion of the UN buffer zone</p>
<img src="~/Images/Juda.jpg" width="200" height="200"/>