
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h6>Welcome of IDF Website</h6>

<h6>We defend the borders of Israel </h6>
<img src="~/Images/IDF 3.jpg" height="200" width="200" />
<h6>How to Join?</h6>
<p>If you are interested in serving in the IDF, there are a number of options available, depending on your age, physical condition and status.</p>
<img src="~/Images/IDF 912.jpg" width="400" height="400" />
<h6>How Do You Become an IDF Soldier?</h6>
<p>Every year, thousands of soldiers — from Israel and all around the world — join the Israel Defense Forces. The one thing that nearly all IDF soldiers have in common is their draft day experience.</p>
<img src="~/Images/Gang 34.jpg" width="400" height="400" />
<h6>What’s the first day like?</h6>
<p>
    If you, too, are joining the IDF soon, or even thinking about doing so, perhaps you’ve wondered what your first day will be like. Here’s a brief preview of what will be a memorable day.

    1. Recruitment Bureau: On the morning of your draft day, you will report to the location indicated on your draft notice. That place is called a “Lishkat Giyus” (Recruitment Bureau). They’re all around the country.

    2. The Bakum: From your draft location, you’ll be taken by bus with other draftees to a base known as the Bakum. There you’ll begin your transition from civilian to soldier. At the Bakum, someone will always be available to help you move from station to station if you get confused.
</p>
<img src="~/Images/Women 1.jpg" width="400" height="400" />