
@{
    ViewBag.Title = "Life";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Life in the IDF </h2>

<img src="~/Images/IDF Web 3.jpg"  width="400" height="400"/>
<p>


    For nearly 70 years, Israelis have faced constant threats to their safety from wars and terrorism.  Through ceaseless efforts at self-defense, the Israel Defense Forces (IDF) has gained unique experience in how to conduct effective military operations while going to great lengths to safeguard civilian life. The IDF Code of Ethics emphasizes the importance of protecting civilians no matter what “side” they are on.[1]  Still, despite the IDF’s efforts to uphold its high ethical standards, Israeli and Palestinian civilians have suffered immensely during conflicts between Israel, the terrorist organization Hamas, and others. The tragic reality is that wars always lead to innocent people being injured or killed, even when they are not the intended target. Unfortunately, some in the international community use the suffering of Palestinian civilians to demonize the IDF and make misleading claims about international law. While it is important to hold all armies, including Israel’s, accountable, many accusations that are frequently made about the IDF are simply inaccurate.
</p>
<img src="~/Images/IDF 23.jpg" width="300" height="300" />
<p>
    Today, militaries are supposed to be constrained by the Law of Armed Conflict (LOAC) or International Humanitarian Law (IHL), which exist in large part to protect civilians during times of war. IHL requires armed forces to act only to achieve legitimate military objectives, to distinguish between civilians and combatants, and to avoid causing disproportionate damage to civilians who may be near a legitimate military target.

    Despite often being forced to engage in urban warfare against terrorist groups that hide behind civilians and fire rockets from densely populated areas, the IDF has met and often exceeded the highest standards of LOAC/IHL.[2] When it suspects civilians are near a military target, the IDF warns them to evacuate with phone calls, text messages, leaflets, and other means. It also aborts many operations to avoid harming innocent people. Indeed, the IDF’s tactics often go beyond what is required by the Geneva Conventions.[3]

    In a 2015 report about the IDF, military leaders from other liberal democracies, “expressed strong concerns that the actions and practices of the IDF to prevent collateral damage were so extensive… that they would curtail the effectiveness of our own militaries, were they to become constraining norms of warfare enacted in… law
</p>