<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.IDF</title>
</head>
<body>
    <div class="col-md-6">

        <img src="~/Images/IDF_New_Logo.png"  width="200" height="200"/>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
